.idea/
vendor/
persistence/mtgallcards.sqlite
*.sqlite*
.DS_store
bin/*
*.env
*.env*
.pg.env
.edhgo.env

# Frontend
frontend/coverage/

# Import script and temp data
scripts/*
*.csv
allprintings.csv.zip
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
atlas.hcl
all-printings.sql
importer
